html,
body,
ul, 
figure{
	margin: 0;
	padding: 0;
}

html,
input{
	font-family: 'Marvel', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.25;
}

body{
	background-color: #333;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
	margin-bottom: 1.5rem;
}


h2, 
.h2{
	font-size: 2.4em;
}

h3,
.h3{
	font-size: 2em;
}

h4,
.h4{
	font-size: 1.6em;
}

h5,
.h5{
	font-size: 1;
}

h6,
.h6{
	font-size: 1;
}

a{
	text-decoration: none;
}

::-webkit-input-placeholder{
	color: #ddd;
}

header, section{
	width: 100%;
}

.wrapper{
	box-sizing: border-box;
	padding: 0 20px;
	max-width: 40.833rem;
	margin: 0 auto;
}

section{
	padding: 20px 0;
	&:nth-of-type(2n-1){
		background: $theme-color;
		color: $sec-text-color;
	}
}

.content{ 
	ul{
		li{
			list-style-type: none;
			&:before{
				content: '#';
				padding: 0 .208em 0 0;
			}
		}
	}
}
