

// http://modularscale.com/scale/?px1=22&px2=30&ra1=1.618&ra2=0
// Modular Scale 22px @ 1:1.618	 30px @ 1:1.618//


html,
body,
ul, 
figure,
p {
	margin: 0;
	padding: 0;
}

html,
input{
	font-family: 'Marvel', sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.364;
	color: $std-text-color;
	text-rendering: optimizeLegibility;
}

body{
	background-color: #333;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p,
pre, table, fieldset, hr {
	margin-bottom: 1.364rem;
}


h2, 
.h2{
	margin-top: -.682rem;
	font-size: 2.206rem;
	line-height: 1.364;
}

h3,
.h3{
	margin-top: -.182rem;
	font-size: 1.618rem;
	margin-bottom: -.236rem;
}

h4,
.h4{
	font-size: 1.364rem;
	margin-bottom: .843rem;
}

h5,
.h5{
	font-size: 1;
}

h6,
.h6{
	font-size: 1;
}

a{
	text-decoration: none;
}

::-webkit-input-placeholder{
	color: #ddd;
}

header, section{
	width: 100%;
}

.wrapper{
	box-sizing: border-box;
	padding: 0 20px;
	max-width: 44.545rem;
	margin: 0 auto;
}

header {
	padding: .382rem 0;
}

section{
	background: $sec-theme-color;
	padding: 2.206rem 0;
	&:nth-of-type(2n-1){
		background: $theme-gradient;
		color: $sec-text-color;
	}
	&:nth-of-type(odd) {
		-webkit-font-smoothing: auto;
	}
	li{
		list-style-type: none;
		&:before{
			content: '#'; // Setting bullet icon
			padding: 0 .208em 0 0;
		}
	}
}

footer{
	padding: 2.206rem 0 0;
	background: $theme-gradient;
	color: $sec-text-color;
}
