

// http://modularscale.com/scale/?px1=22&px2=30&ra1=1.618&ra2=0
// Modular Scale 22px @ 1:1.618	 30px @ 1:1.618//


html,
body,
ul,
figure,
p {
	margin: 0;
	padding: 0;
}

html,
input{
	font-size: 22px;
}

body{
	background-color: #333;
	color: $std-text-color;
	font-weight: 400;
	font-family: 'Marvel', sans-serif;
	line-height: 1.364;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p, ul, ol {
  margin: 0 0 1.363636364em 0;
  font-size: 1em;
  line-height: $baseLineHeight*2;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h2, .h2 {
	@include font-size(47px);
	margin: 0 0 .639em 0;
	line-height: 1.276595745;
}

h3, .h3 {
	@include font-size(44px);
	//margin: 0 0 .340909091em 0; //to fit the layout
	margin: 0 0 .1em 0;
	//line-height: .681818182;
	line-height: 1em; //should be adjusted later
}

h4, .h4 {
	@include font-size(30px);
	margin: 0 0 1em 0;
	line-height: 1;
}

h5, .h6 {
	@include font-size(24px);
	margin: 1.875em 0 .625em 0;
	line-height: 1.25;
}

h6, .h6 {
	@include font-size(22px);
	margin: 2.045454545em 0 .682em 0;
	line-height: 1.363636364;
}

a {
	text-decoration: none;
}

small {
	display: inline-block;
	margin: 0 0 1.666666667em;
	font-size: .819em;
	line-height: 1.666666667;
}

blockquote {
	@include breakpoint(firstBreak) {
		width: 25em;
	}
	@include breakpoint(secondBreak) {
		width: 18em;
	}
	@include breakpoint(thirdBreak) {
		width: 13em;
	}
	width: 32em;
	padding: 2.4em 0;
	margin: 0 auto;
	position: relative;
	font-weight: 700;
	font-style: italic;
	font-size: 1em;
	quotes: "\201C""\201D""\2018""\2019";
	&:before, &:after {
		font-size: 8em;
		width: .6em;
	}
	&:before {
		position: absolute;
		top: -.3em;
		left: -.52em;
		content: open-quote;
		@include breakpoint(fourthBreak) {
			top: -0.4em;
			left: -0.15em;
		}
	}
	&:after {
		position: absolute;
		right: -.5em;
		bottom: -.8em;
		content: close-quote;
		@include breakpoint(fourthBreak) {
			right: 0;
		}
	}
	footer {
		@include breakpoint(secondBreak) {
			width: 100%;
		}
		background: none;
		text-align: left;
		padding: 0;
		width: 25em;
		margin: 0 auto;
	}
	a {
		color: #fff;
		text-decoration: underline;
	}
	p {
		@include breakpoint(secondBreak) {
			width: 100%
		}
		width: 25em;
		position: relative;
		margin: 0 0 .1em 0;
		margin: 0 auto;
	}
	cite a {
		text-decoration: none;
	}
}

::-webkit-input-placeholder{
	color: #ddd;
}

header, section{
	width: 100%;
}

.wrapper{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 44.545rem;
	@include breakpoint(firstBreak) {
		width: 90%;
		margin: 0 auto;
	}
}

header {
	padding: .382rem 0;
}

section{
	padding: 2.045454545em 0;
	background: $sec-theme-color;
	&:nth-of-type(2n-1){
		background: $theme-gradient;
		color: $sec-text-color;
	}
	&:nth-of-type(odd) {
		-webkit-font-smoothing: auto;
	}
	li{
		list-style-type: none;
		&:before{
			padding: 0 .208em 0 0;
			content: '#'; // Setting bullet icon
		}
	}
}

.columnTwo {
	column-count: 2;
	column-width: 19em;
	column-gap: 2em;
	margin: 0 0 2.727272727em 0;
	@include breakpoint(firstBreak) {
		column-count: 1;
		column-width: auto;
	}
}

footer{
	padding: 2.206rem 0 0;
	background: $theme-gradient;
	color: $sec-text-color;
}
