$std-text-color: #363636;
$sec-text-color: #fff;
$theme-color: #ef4b33;
$sec-theme-color: #f4f3f3;
$theme-gradient: linear-gradient(to bottom, #e64933 0%,$theme-color 50%,#e64933 100%); /* W3C */


$circle-border-color: #fff;
$circle-border: 8px solid $circle-border-color;

@mixin noGap{
  font-size: 0;
  line-height: 0;
}
@mixin reGap($val1:1rem,$val2:1){
  font-size: $val1;
  line-height: $val2;
}
