$baseFontSize: 22px;
$baseLineHeight: 15px;
$std-text-color: #363636;
$sec-text-color: #fff;
$theme-color: #ef4b33;
$theme-color-dark: #e64933;
$sec-theme-color: #f4f3f3;
$theme-gradient: linear-gradient(to bottom, $theme-color-dark 0%,$theme-color 50%,$theme-color-dark 100%); /* W3C */


$circle-border-color: #fff;
$circle-border: 8px solid $circle-border-color;

@mixin noGap{
  font-size: 0;
  line-height: 0;
}

@mixin reGap($val1:1rem,$val2:1){
  font-size: $val1;
  line-height: $val2;
}

@mixin font-size ($pxValue) {
  font-size: ($pxValue / $baseFontSize) + em;
}

// .cf:before,
// .cf:after {
//     content: " ";
//     display: table;
// }
 
// .cf:after {
//     clear: both;
// }

@mixin breakpoint($point) {
  @if $point == firstBreak {
    @media (max-width: 870px) { @content; }
  }
  @else if $point == secondBreak {
    @media (max-width: 700px) { @content; }
  }
  @else if $point == thirdBreak {
    @media (max-width: 540px) { @content; }
  }
  @else if $point == fourthBreak {
    @media (max-width: 430px) { @content; }
  }
}
